{% extends 'base.html' %}

{% block title %}
Home
{% endblock %}

{% block body %}
<div class="container">
  <h1>Posts</h1>
  <div class="row">
    {% for post in object_list|slice:":3" %}
      <div class="col-md-4 mb-4">
        <div class="card h-100" style="max-height: 400px; overflow: auto;">
          <div class="card-body">
            <h1 class="card-title">{{post.title|truncatechars:25}}</h1>
            <h6 class="card-subtitle mb-2 text-muted">By: {{post.author.first_name}} {{post.author.last_name}}</h6>
            <p class="card-text">{{post.body|truncatechars:100}}</p>
          </div>
        </div>
      </div>
    {% endfor %}
  </div>
</div>
{% endblock %}